In [12]:
import sqlite3 
conn = sqlite3.connect('database.sqlite')
c = conn.cursor()
import pandas as pd
import requests
import json
import pymongo

In [2]:
c.execute("""
    SELECT SUM(FTHG), HomeTeam
    FROM Matches
    WHERE Season=2011
    GROUP BY HomeTeam
    
""").fetchall()

[(15, 'Aachen'),
 (39, 'Arsenal'),
 (20, 'Aston Villa'),
 (20, 'Augsburg'),
 (49, 'Bayern Munich'),
 (26, 'Blackburn'),
 (23, 'Bochum'),
 (23, 'Bolton'),
 (21, 'Braunschweig'),
 (41, 'Chelsea'),
 (18, 'Cottbus'),
 (44, 'Dortmund'),
 (30, 'Dresden'),
 (23, 'Duisburg'),
 (38, 'Ein Frankfurt'),
 (19, 'Erzgebirge Aue'),
 (28, 'Everton'),
 (20, 'FC Koln'),
 (35, 'Fortuna Dusseldorf'),
 (20, 'Frankfurt FSV'),
 (24, 'Freiburg'),
 (36, 'Fulham'),
 (46, 'Greuther Furth'),
 (19, 'Hamburg'),
 (31, 'Hannover'),
 (20, 'Hansa Rostock'),
 (19, 'Hertha'),
 (21, 'Hoffenheim'),
 (28, 'Ingolstadt'),
 (12, 'Kaiserslautern'),
 (23, 'Karlsruhe'),
 (28, 'Leverkusen'),
 (24, 'Liverpool'),
 (29, "M'gladbach"),
 (27, 'Mainz'),
 (55, 'Man City'),
 (52, 'Man United'),
 (35, 'Munich 1860'),
 (29, 'Newcastle'),
 (28, 'Norwich'),
 (22, 'Nurnberg'),
 (28, 'Paderborn'),
 (24, 'QPR'),
 (47, 'Schalke 04'),
 (36, 'St Pauli'),
 (25, 'Stoke'),
 (36, 'Stuttgart'),
 (26, 'Sunderland'),
 (27, 'Swansea'),
 (39, 'Tottenham'),
 (30, 'Union Berlin'),
 (31, 'Werder Bremen'),
 (21, 'West Brom'),
 (22, 'Wigan'),
 (29, 'Wolfsburg'),
 (19, 'Wolves')]

In [4]:
c.execute("""
    SELECT SUM(FTAG), AwayTeam
    FROM Matches
    WHERE Season=2011
    GROUP BY AwayTeam
    
""").fetchall()

[(15, 'Aachen'),
 (35, 'Arsenal'),
 (17, 'Aston Villa'),
 (16, 'Augsburg'),
 (28, 'Bayern Munich'),
 (22, 'Blackburn'),
 (18, 'Bochum'),
 (23, 'Bolton'),
 (16, 'Braunschweig'),
 (24, 'Chelsea'),
 (12, 'Cottbus'),
 (36, 'Dortmund'),
 (20, 'Dresden'),
 (19, 'Duisburg'),
 (38, 'Ein Frankfurt'),
 (12, 'Erzgebirge Aue'),
 (22, 'Everton'),
 (19, 'FC Koln'),
 (29, 'Fortuna Dusseldorf'),
 (23, 'Frankfurt FSV'),
 (21, 'Freiburg'),
 (12, 'Fulham'),
 (27, 'Greuther Furth'),
 (16, 'Hamburg'),
 (10, 'Hannover'),
 (14, 'Hansa Rostock'),
 (19, 'Hertha'),
 (20, 'Hoffenheim'),
 (15, 'Ingolstadt'),
 (12, 'Kaiserslautern'),
 (11, 'Karlsruhe'),
 (24, 'Leverkusen'),
 (23, 'Liverpool'),
 (20, "M'gladbach"),
 (20, 'Mainz'),
 (38, 'Man City'),
 (37, 'Man United'),
 (27, 'Munich 1860'),
 (27, 'Newcastle'),
 (24, 'Norwich'),
 (16, 'Nurnberg'),
 (23, 'Paderborn'),
 (19, 'QPR'),
 (27, 'Schalke 04'),
 (23, 'St Pauli'),
 (11, 'Stoke'),
 (27, 'Stuttgart'),
 (19, 'Sunderland'),
 (17, 'Swansea'),
 (27, 'Tottenham'),
 (25, 'Union Berlin'),
 (18, 'Werder Bremen'),
 (24, 'West Brom'),
 (20, 'Wigan'),
 (18, 'Wolfsburg'),
 (21, 'Wolves')]

In [24]:
dates=c.execute("""
    SELECT DISTINCT Date
    FROM Matches
    WHERE Season=2011
    
""").fetchall()

In [38]:
url= f"https://api.darksky.net/forecast/d423b19fb99491f71f1f514439786979/52.517,13.3889,{ts}?exclude=currently,flags,currently,minutely,hourly"
#52.5200° N, 13.4050° E
#"precipProbability": 1
# 52.517, 13.3889
url

'https://api.darksky.net/forecast/d423b19fb99491f71f1f514439786979/52.517,13.3889,1270339200?exclude=currently,flags,currently,minutely,hourly'

In [34]:
response = requests.get(url)

In [35]:
print(response)
print(type(response.text))
print(response.text[:1000])

<Response [200]>
<class 'str'>
{"latitude":52.517,"longitude":13.3889,"timezone":"Europe/Berlin","daily":{"data":[{"time":1270332000,"summary":"Mostly cloudy throughout the day.","icon":"partly-cloudy-day","sunriseTime":1270355695,"sunsetTime":1270403169,"moonPhase":0.7,"precipIntensity":0,"precipIntensityMax":0,"precipProbability":0,"temperatureHigh":57.96,"temperatureHighTime":1270389600,"temperatureLow":44.3,"temperatureLowTime":1270425600,"apparentTemperatureHigh":57.96,"apparentTemperatureHighTime":1270389600,"apparentTemperatureLow":38.6,"apparentTemperatureLowTime":1270436400,"dewPoint":38.01,"humidity":0.62,"windSpeed":9.21,"windGust":14.99,"windGustTime":1270400400,"windBearing":180,"cloudCover":0.74,"uvIndex":4,"uvIndexTime":1270378800,"visibility":6.216,"temperatureMin":45.62,"temperatureMinTime":1270342800,"temperatureMax":57.96,"temperatureMaxTime":1270389600,"apparentTemperatureMin":41.42,"apparentTemperatureMinTime":1270350000,"apparentTemperatureMax":57.96,"apparentTemperatureMaxTime":1270389600}]},"

In [27]:
response.json()['daily']['data'][0]['precipProbability']

0

In [ ]:
#def date_formatter(table_date)
    darksky_date=table_data.

In [32]:
date="2010-04-04"
#date_formatter(date)
date_dt=pd.to_datetime(date)
ts=int(date_dt.timestamp())

In [10]:
class rain_req:
    
    def __init__(self, date):
        self.date=date
        self.date_dt=pd.to_datetime(date)
        self.date_unix=int(self.date_dt.timestamp())
        self.url= f"https://api.darksky.net/forecast/d423b19fb99491f71f1f514439786979/52.517,13.3889,{self.date_unix}?exclude=currently,flags,currently,minutely,hourly"

        
    def send(self):
        self.response=requests.get(self.url)
        return print(self.response)
        
    def did_it_rain(self):
        try:
            self.rain=self.response.json()['daily']['data'][0]['precipIntensityMax']
            return self.rain
        except:
            print('no rain data')

In [42]:
test=rain_req('2011-08-14')

In [43]:
test.url

'https://api.darksky.net/forecast/d423b19fb99491f71f1f514439786979/52.517,13.3889,1313280000?exclude=currently,flags,currently,minutely,hourly'

In [44]:
test.send()

<Response [200]>

In [45]:
test.did_it_rain()

1

In [12]:
dates[0][0]

'2012-03-31'

In [11]:
dates_list=[]
for i in range(len(dates)):
    dates_list.append(dates[i][0])

NameError: name 'dates' is not defined

In [49]:
rainlist=[]
for date in dates_list:
    request=rain_req(date)
    request.send()
    rainlist.append(request.did_it_rain())

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [9]:
raintf=list(map(lambda x:int(bool(x)), rainlist))

NameError: name 'rainlist' is not defined

In [51]:
len(raintf)

165

In [54]:
rain_days=dict(zip(dates_list, raintf))

In [55]:
rain_days

{'2012-03-31': True,
 '2011-12-11': False,
 '2011-08-13': False,
 '2011-11-27': False,
 '2012-02-18': False,
 '2012-01-20': True,
 '2012-02-04': False,
 '2012-04-21': False,
 '2011-09-18': True,
 '2011-10-23': True,
 '2011-10-01': False,
 '2012-03-03': False,
 '2011-08-27': True,
 '2012-03-17': False,
 '2011-11-06': True,
 '2012-05-05': True,
 '2012-04-11': False,
 '2011-12-17': True,
 '2012-02-03': False,
 '2011-10-29': False,
 '2012-01-22': True,
 '2011-12-03': True,
 '2012-04-14': False,
 '2012-03-25': False,
 '2012-03-10': False,
 '2012-04-07': False,
 '2011-11-19': False,
 '2011-10-14': False,
 '2011-09-24': False,
 '2012-04-28': False,
 '2011-12-18': True,
 '2012-03-02': False,
 '2012-03-16': False,
 '2012-02-17': True,
 '2011-08-06': True,
 '2011-11-04': False,
 '2011-09-16': False,
 '2011-07-15': False,
 '2012-05-06': True,
 '2012-02-11': False,
 '2011-10-02': False,
 '2012-03-30': False,
 '2011-10-22': False,
 '2011-08-26': True,
 '2011-08-07': True,
 '2012-02-24': True,
 '2011-07-17': True,
 '2012-02-12': False,
 '2011-08-22': False,
 '2011-09-09': True,
 '2012-04-01': False,
 '2011-09-25': False,
 '2012-04-20': False,
 '2011-11-25': True,
 '2012-03-09': False,
 '2011-11-07': False,
 '2011-09-10': True,
 '2011-08-21': False,
 '2011-09-26': False,
 '2012-03-26': False,
 '2011-10-30': True,
 '2012-02-13': False,
 '2012-02-26': False,
 '2011-12-19': False,
 '2012-03-11': False,
 '2011-11-26': True,
 '2012-04-23': False,
 '2011-12-16': True,
 '2011-11-05': True,
 '2012-04-10': False,
 '2012-04-15': False,
 '2012-02-05': False,
 '2012-03-04': False,
 '2011-09-17': False,
 '2012-01-21': False,
 '2012-03-18': False,
 '2012-04-22': False,
 '2011-08-20': False,
 '2012-02-10': False,
 '2012-02-25': False,
 '2011-12-10': True,
 '2012-01-29': False,
 '2011-10-16': True,
 '2011-08-05': True,
 '2012-03-23': False,
 '2011-09-23': False,
 '2012-01-28': False,
 '2011-10-15': False,
 '2012-03-24': False,
 '2011-11-18': True,
 '2012-04-29': False,
 '2011-12-09': True,
 '2012-04-08': False,
 '2012-03-12': True,
 '2011-07-23': True,
 '2011-10-28': False,
 '2012-01-27': False,
 '2011-12-04': False,
 '2011-09-11': True,
 '2011-09-30': False,
 '2012-02-19': True,
 '2012-04-13': False,
 '2011-10-21': False,
 '2011-08-14': True,
 '2011-09-12': True,
 '2011-07-18': True,
 '2011-08-08': True,
 '2011-07-24': False,
 '2011-12-13': True,
 '2011-08-28': False,
 '2011-08-19': True,
 '2012-03-14': False,
 '2011-08-12': True,
 '2012-03-05': False,
 '2011-12-02': True,
 '2011-09-19': True,
 '2011-07-25': False,
 '2012-04-02': True,
 '2012-02-06': False,
 '2011-11-21': False,
 '2011-07-22': True,
 '2011-08-29': True,
 '2012-04-05': False,
 '2011-11-28': False,
 '2011-12-12': True,
 '2011-11-20': False,
 '2012-02-27': True,
 '2011-07-16': False,
 '2011-10-31': False,
 '2012-02-20': False,
 '2011-10-17': False,
 '2011-12-05': False,
 '2012-04-16': False,
 '2011-10-03': False,
 '2012-03-19': False,
 '2011-08-15': True,
 '2011-12-20': False,
 '2011-12-21': True,
 '2011-12-22': True,
 '2011-12-26': True,
 '2011-12-27': False,
 '2011-12-30': True,
 '2011-12-31': False,
 '2012-01-01': True,
 '2012-01-02': True,
 '2012-01-03': True,
 '2012-01-04': True,
 '2012-01-11': False,
 '2012-01-14': False,
 '2012-01-15': False,
 '2012-01-16': True,
 '2012-01-31': False,
 '2012-02-01': False,
 '2012-03-13': False,
 '2012-03-20': False,
 '2012-03-21': False,
 '2012-04-06': False,
 '2012-04-09': False,
 '2012-04-24': True,
 '2012-04-30': False,
 '2012-05-01': False,
 '2012-05-02': False,
 '2012-05-07': False,
 '2012-05-08': False,
 '2012-05-13': False}

In [60]:
with open('rain_days.txt', 'w') as outfile:
    json.dump(rain_days, outfile)

In [33]:
class mongo_helper:
    def __init__(self, client=None, database=None, collection=None):
        self.client=client
        self.db=database
        self.coll=collection
        
    def set_db(self, db):
        self.db=self.client[db]
        
    def set_coll(self, collection):
        self.coll=self.db[collection]
        
    def add_list(self, list_of_dicts):
        self.response=self.coll.insert_many(list_of_dicts)
        return self.response
        
        
 #ccmyclient = pymongo.MongoClient("mongodb://127.0.0.1:27017/")

In [34]:
myclient = pymongo.MongoClient("mongodb://127.0.0.1:27017/")

In [35]:
mon=mongo_helper(myclient)

In [36]:
mon.client.list_database_names()

['admin', 'config', 'example_data', 'lab_db', 'local', 'test']

In [37]:
mon.set_db('test')

In [38]:
mon.db.list_collection_names()

['test']

In [39]:
mon.set_coll('test')

In [40]:
mon.coll

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'test')

In [41]:

query_1 = mon.coll.find({})
for x in query_1:
    print(x)

{'_id': ObjectId('5d4c3807c3343941101b65af'), 'a': 1.0}
{'_id': ObjectId('5d4c3819c3343941101b65b0'), 'a': 1.0}
{'_id': ObjectId('5d4d9f72e9fc63f1a4a7a61e'), 'test': 50, 'testooo': 'hey now'}
{'_id': ObjectId('5d4d9f72e9fc63f1a4a7a61f'), 'test': 'oops', 'test1': 'hey hey'}

In [44]:
test2=[{'test': 809, 'tesgstooo': 'hey'}, {'a':1, 'b':2}]

In [46]:
mon.add_list(test2)

In [47]:

query_1 = mon.coll.find({})
for x in query_1:
    print(x)

{'_id': ObjectId('5d4c3807c3343941101b65af'), 'a': 1.0}
{'_id': ObjectId('5d4c3819c3343941101b65b0'), 'a': 1.0}
{'_id': ObjectId('5d4d9f72e9fc63f1a4a7a61e'), 'test': 50, 'testooo': 'hey now'}
{'_id': ObjectId('5d4d9f72e9fc63f1a4a7a61f'), 'test': 'oops', 'test1': 'hey hey'}
{'_id': ObjectId('5d4dcfa0a905da5040fb578d'), 'test': 809, 'tesgstooo': 'hey'}
{'_id': ObjectId('5d4dcfa0a905da5040fb578e'), 'a': 1, 'b': 2}